* {
	margin:0;
	padding:0;
	box-sizing: border-box;
}

:root {
	--White: hsl(0, 0%, 100%);

	--Stone100: hsl(30, 54%, 90%);
	--Stone150: hsl(30, 18%, 87%);
	--Stone600: hsl(30, 10%, 34%);
	--Stone900: hsl(24, 5%, 18%);

	--Brown800: hsl(14, 45%, 36%);
	--Rose800: hsl(332, 51%, 32%);
	--Rose50: hsl(330, 100%, 98%);
}

body {
	font-family: "Outfit", "Young Serif", "sans-serif";
	background-color: var(--Stone100);
	line-height: 1.6;
    overflow-x: hidden;
}

ul, ol { 
    padding-left: 20px;
    line-height: 2;
}

ol li {
	text-align: justify;
	padding-left: 18px;
}

ol li::marker {
  color: var(--Rose800);
  font-weight: bold;
}

ul li {
    text-indent: 15px; 
}

h2 {
	font-family: "Young Serif";
	color: var(--Rose800);
	margin-bottom: 15px;
}

.container {
	width: 100%;
	max-width: 800px;
	margin: 70px auto;
	background-color: var(--White);
	padding: 35px;
	border: 1px solid var(--White);
	border-radius: 10px;
}

.intro {
	margin-bottom: 25px;
}

.intro img {
	display: block;	
	max-width: 100%;
	height: auto;
	margin-bottom: 25px;
}

.intro h1 {
	font-family: "Young Serif";
	font-size: 2rem;
	margin-bottom: 25px;
}

.preparation {
	background-color: var(--Rose50);
	border-radius: 10px;
	padding: 20px;
	margin-bottom: 25px;
}

.preparation h3 {
	color: var(--Rose800);
	margin-bottom: 10px;
}

.ingredients {
	margin-bottom: 25px;
	border-bottom: 1px solid var(--Stone150);
}

.ingredients ul {
	margin-bottom: 25px;
}

.instructions {
	margin-bottom: 25px;
	text-align: justify;
	border-bottom: 1px solid var(--Stone150);
}

.instructions ol {
	margin-bottom: 25px;
}

table {
  border-collapse: collapse;
  width: 85%;
  margin-bottom: 25px;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid var(--Stone150);
  color: var(--Rose800);
}

@media (max-width: 768px) {
    .container {
        margin: 0 auto;
        width: 100%;
    }
    .intro img {
        max-width: 100%; 
        height: auto;
    }
    .intro h1 {
        font-size: 1.5rem;
    }

    .preparation, .ingredients, .instructions {
        padding: 15px;
    }

    h2, h3 {
        font-size: 1.25rem;
    }

    ul, ol {
        padding-left: 0px;
    }

    table {
        width: 100%;
    }

}

footer {
    text-align: center;
    text-decoration: none;
    margin: 2px;
    font-size: 0.8rem;
}

footer a {
    text-decoration: none;
    transition: color 0.3s, font-size 0.3s;
    font-size: 0.8rem;
}

footer a:hover {
    font-size: 1rem;
}

footer a:visited {
    color: var(--Rose800);
}

footer a:link {
    color: var(--Brown800);
}


@media (max-width: 480px) {
    .container {
        margin: 0 auto;
        width: 100%;
    }

    .intro h1 {
        font-size: 1.2rem;
    }

    h2 {
        font-size: 1rem;
    }

    h3 {
        font-size: 0.9rem;
    }

    p, li, tr {
        font-size: 0.8rem; 
    }

    .intro img {
        max-width: 100%; 
        height: auto;
    }

    .preparation, .ingredients, .instructions {
        padding: 10px;
    }

    ul, ol {
        padding-left: 0px;
    }

    table {
        width: 100%; 
    }
}
